
body{
  background-color: rgb(255, 255, 255);
}
header {
  margin: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px #ddd;
  position: fixed;
  height: 90px!important;
  z-index: 20;
  font-family: "Roboto", sans-serif; /* Add this line */
}

.top-item {
  margin-top: 100px;
}

.popup {  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.popup:target {
  display: flex;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* CSS สำหรับลบที่ขีดเส้นใต้ไอคอนของปุ่ม */
table a {
  text-decoration: none; /* ลบที่ขีดเส้นใต้ */
}
/* CSS สำหรับลบเส้นใต้ตรงที่อักขระ "❌" ในปุ่มปิด pop-up */
.close-button a {
  text-decoration: none; /* ลบเส้นใต้ */
}

nav {
height: 100%;
position: fixed;
left: 0;
width: 250px;
transform: translateX(-320px);
transition: transform 260ms ease-in-out;
background-color: white;
border-left: 1px solid #eee;
}
nav ul {
  margin-top: 25%;
  padding:0;
  border-top: 1px solid #eee;
}
nav ul>li {
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: .25s
}
nav ul>li span {
  display: block;
  font-size: 14px;
  color: #353535;
}
nav ul>li a {
  color: #353535;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
nav ul>li:hover {
  background-color: #dddddd;
}
nav li#nav-signup {
  list-style: none;
  background-color: #00B2D3;
}
nav ul>li#nav-signup span {
  color: #00B2D3;
}
nav ul>li#nav-signup a {
  color: #ffffff;
}
nav ul>li#nav-signup:hover {
  background-color: #006375;
}
input[type="checkbox"]:checked ~ nav {
  transform: translateX(0);
  z-index: 40;
}
input[type=checkbox] {
  box-sizing: border-box;
  display: none;
  transition: all 0.25s;
}
.menuIconToggle {
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 25px;
  left: 30px;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  transition: all 0.3s;
}
.hamb-line {
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #444;
  transition: all 0.25s;
}
.hor {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
}
.dia.part-1 {
  position: relative;
  box-sizing: border-box;
  float: left;
  transition: all .25s;
}
.dia.part-2 {
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 3px;
  transition: all .25s;
}
input[type=checkbox]:checked ~ .menuIconToggle > .hor {
  box-sizing: border-box;
  opacity: 0;
  transition: all .25s;
}
input[type=checkbox]:checked ~ .menuIconToggle > .dia.part-1 {
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
  transition: all .25s;
}
input[type=checkbox]:checked ~ .menuIconToggle > .dia.part-2 {
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
  transition: all .25s;
}
@media screen and (max-width: 640px) {
nav {
    height: 100%;
    width: 100%;
    transform: translateX(100%);
  } 
}

hr.solid {
  border-top: 3px solid #000000;
}



input {
  margin-bottom: 20px;
}
.tab_content{
  position: absolute;
  top: 6%;
  left: 10%;

}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.well-form {
  margin: 5px 20px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well-legend {
  display: block;
  font-size: 14px;
  width: auto;
  padding: 2px 7px 2px 5px; 
  line-height: inherit;
  color: #CCC;
  border: none;
  background-color: #f5f5f5;
  margin-bottom: 0;
}
.usertype{
  font-weight: 800;
}
